#colorSwitcher{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button{
    width: 100px;
    height:80px;
    border:2px solid black;
    margin: 8px;
}
#red{
    background-color:red ;
}
#yellow{
    background-color:yellow ;
}
#white{
    background-color:white ;
}
#blue{
    background-color:blue ;
}
#green{
    background-color:green ;
}