*{
    margin:10px;
    padding:0;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: gray;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 30px;
    margin: 60px 20px;
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(37, 37, 37);
}