*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(33, 13, 52);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left, .right{
    height: 300px;
    width: 200px;
    margin: 10px;
    border: 2px dashed rgb(93, 49, 155);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list{
    background-color: rgb(244, 29, 100);
    padding:12px;
    margin: 10px;
}

.list img{
    width: 15px;
    height: 15px;
}

.list span{
    color: aliceblue;
    padding-left: 10px;
}